// Mixins Here

.lighter(@bg-color, @percentage) {
    &:hover {
        background-color: lighten(@bg-color, @percentage);
        color: yellow;
    }
}

.flex(@direction) {
    display: flex;
    flex-direction: @direction;
}

.border-radius (@radius: 4px)

// Looking back through for repeated code and I didn't see anything else I needed as a param/mixin.